.contato {
    display: flex;
    align-items: center;
    background: var(--cor02);
}


@media screen and (max-width: 768px) {
    .contato__img{
        display: none;
    }

    .contato {
        justify-content: center;
    }

    .contato__p {
        display: none;
    }
    .contato__p1{
        padding-bottom: 1rem;
    }
}