.apresentacao {
    display: grid;
    grid-template-columns:  33.33% 33.33% 33.33%;
    grid-template-rows: 33.33% 33.33% 33.33%;
    padding: 6rem 5vh;
    width: 80%;
    column-gap: 50px;
}

@media screen and (max-width: 375px) {
    .apresentacao {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .apresentacao__principal {
        font-size: 1.5rem;
    }

    .apresentacao__descritiva {
        font-size: 1rem;
        padding-top: 1rem;
    }
    .apresentacao__nav {
        justify-content: space-between;
    }

}
@media screen and (max-width: 768px) {
    .apresentacao {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .apresentacao__principal {
        font-size: 1.5rem;
    }
    .apresentacao__descritiva {
        font-size: 1rem;
        padding-top: 1rem;
    }
    .apresentacao__nav {
        justify-content: space-between;
        width: 80vw;
    }
}

@media screen and (min-width:768px) {
    .apresentacao__principal {
        font-size: 2rem;
    }
    .apresentacao__descritiva {
        font-size: 1.15rem;
    }
    .apresentacao__nav {
    justify-content: space-between;
    }
}