.card__wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card__wrapper::before {
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    display: block;
    border: 2px solid var(--cor02);
    opacity: 0;
    transition: 0.4s;
}

.card__wrapper h2 {
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    transition: 0.4s;
    color: var(--cor02);
}

.card__wrapper p {
    font-size: 0;
    visibility: hidden;
    opacity: 0;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.4s;
    padding-top: .5rem;
    color: var(--cor02);
}