.card {
    height: 300px;
    width: 400px;
    margin: 3rem 0 0;
    background-image: url('../../img/xavier.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(0.5);
    color: #000000;
    cursor: pointer;
    transition: 0.3s;
}.card:hover > .card__wrapper::before {
    opacity: 1;
    width: 350px;
    height: 250px;
}

.card:hover > .card__wrapper p {
    font-size: 14px;
    opacity: 1;
    visibility: visible;
}