.experiencia__card{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
}

@media screen and (max-width:768px) {
    .experiencia__card {
        flex-direction: column;
    }
    .experiencia__card:nth-child(1), .experiencia__card:nth-child(3) {
        flex-direction: column-reverse;
    }
    .experiencia__card_text {
        margin: 4rem 0 0 0;
        width: 75%;
    }
}

@media screen and (min-width:768px) {
    .experiencia__card_text {
        width: 40%;
    }
    
}