.sobreMim {
    display: flex;
    flex-direction: column;
    background: var(--cor02);
    padding: 5% 10%;
    color: var(--cor01);
}

@media screen and (min-width: 375px) {
    .sobreMim {
        padding: 5%;
    }
}