.sobreMim__texto {
    text-align:left ;
}

@media screen and (min-width: 375px) {
    .sobreMim__texto {
        padding-right:auto; 
    }
}

@media screen and (min-width: 1080px) {
    .sobreMim__texto {
        padding-right:25rem; 
    }
}