@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
    --cor01: #022B3A;
    --cor02: #1F7A8C;
    --cor03: #BFDBF7;
    --cor04: #E1E5F2;
    --cor05: #FFFFFF;

    --roboto:  'Roboto', sans-serif;
}

body {
    font-family: var(--roboto);
    background: var(--cor04);
    color: var(--cor01);
}
