.caixa {
    background: var(--cor02);
    color: var(--cor01);
    width: 11rem;
    height: 11rem;
    margin: 0 .31rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}