.sobre__principal {
    display: flex;
    flex-direction: column;
    padding: 0 3rem;
}

.sobra__principal_nome {
    font-size: 4rem;
    padding-bottom: 1rem;
}

.sobre__principal_dev {
    font-size: 2rem;
    padding-bottom: 1rem;
}

.sobre__principal_descricao {
    font-size: 1rem;
    padding-bottom: 1rem;
}