.sobre__btn {
    background-color: var(--cor04);
    color: var(--cor01);
    cursor: pointer;
    text-align: center;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: .5rem;
    width: 15rem;
    transition: .3s ease-in-out;
}

.sobre__btn > a {
    text-decoration: none;
    color: var(--cor01);
}

.sobre__btn:hover {
    background-color: var(--cor02);
}